.product-info p{
    font-size: 13px;
}
.no-products {
    display: block;
    text-align: center;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    color: #757575;
    font-size: 20px;
}

.product-hover-overlay a {
    color: #fff !important;
}